<% include ../partials/header %>

<html>

<p>
	<%= talkingto %>
</p>

<section>
  <div id="change_username">
<input id="username" type="text" />
<button id="send_username" type="button">Change username</button>
  </div>
</section>

<section id="chatroom">
  <section id="feedback"></section>
</section>



<section id="input_zone">
		<input id="message" class="vertical-align" type="text" />
		<input id="sendTo" style="display:none;" name="sendTo" value="test" />
	    <button action="/message" id="send_message" class="vertical-align" type="button">Send</button>
</section>
<script>
//make connection
var socket = io.connect()

//buttons and inputs
var message = $("#message")
var username = $("#username")
var send_message = $("#send_message")
var send_username = $("#send_username")
var chatroom = $("#chatroom")
var feedback = $("#feedback")
getMessages();
//Emit message
send_message.click(function(){
	console.log("User: ", "<%=talkingto%>");
	socket.emit('new_message', {message : message.val(),sendTo:"<%=talkingto%>"});
	sendMessage({message: message.val(),sendTo:"<%=talkingto%>"});
})

//Listen on new_message
socket.on("new_message", (data) => {
	feedback.html('');
	message.val('');
	chatroom.append("<p class='message'>" + data.username + ": " + data.message + "</p>")
})

//Emit a username
send_username.click(function(){
	socket.emit('change_username', {username : username.val()})
})

//Emit typing
message.bind("keypress", () => {
	socket.emit('typing')
})

//Listen on typing
socket.on('typing', (data) => {
	feedback.html("<p><i>" + data.username + " is typing a message..." + "</i></p>")
})

function sendMessage(message){
	$.post('http://localhost:3000/message', message);
}
function addMessages(message){
	chatroom.append("<p class='message'>" + message.username + ": " + message.message + "</p>")
}
function getMessages(){
	 $.get('http://localhost:3000/message', (data) => {
	   data.forEach(addMessages);
	 })
   }
</script>
	<!-- <script>
		var socket = io();
		$(() => {
			$("#send").click(()=>{
				//sendMessage({name: $("#name").val(), message: $("#message").val()});
				socket.emit("clicksend",{test:"sendThat"});
				$("#messages").append('<h4> 78945612 </h4>')
			})

		})
		socket.on("clicksend",function(data){
			console.log("clicked");
		});
		//	socket.on('message', test)
		socket.on('message', addMessages)
		function test(){
			console.log("Yahzee");
		}

		function test(){
			console.log("We are connected");
		}
		function addMessages(message){
			$("#messages").append('<h4> ${message.name} </h4> <p> test </p>')
		}
		function getMessages(){
		  $.get('http://localhost:3000/messages', (data) => {
			data.forEach(addMessages);
		  })
		}
		function sendMessage(message){
		  $.post('http://localhost:3000/messages', message)
		}
	</script> -->

</html>

<% include ../partials/footer %>
